{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <!-- <div class="sidebar">
    <p>here's some text</p> -->
  <!-- </div> -->
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <p>Test</p>
        </div>
        <div class="col-md-4">

      <!-- <p>Welcome to {{ title }}</p> -->

          <a href="/books"><img src="http://placehold.it/300x150/0000FF?text=books"></a>
        </div> <!-- col-md-6 -->
        <div class="col-md-4">
          <a href="/authors"><img src="http://placehold.it/300x150/008000?text=authors"></a>
        </div> <!-- col-md-6 -->

      </div> <!-- row -->
    </div> <!-- container -->
    <!-- </div> -->

{% endblock %}
