{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6">

    <!-- <p>Welcome to {{ title }}</p> -->

        <img src="http://placehold.it/400x150/0000FF?text=books">
      </div> <!-- col-md-6 -->
      <div class="col-md-6">
        <img src="http://placehold.it/400x150/008000?text=authors">
      </div> <!-- col-md-6 -->

    </div> <!-- row -->
  </div> <!-- container -->

{% endblock %}
