body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  display: inline-block;
  vertical-align: middle;
}

.authors:not(:last-child):after {
  content: ',';
}
